nav {
  position: fixed;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: calc( 100% - 160px);
  margin-top: 65px;
  max-width: 1500px;
  z-index: 10;
}

ul {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}

ul:nth-of-type(2) {
  width: 300px;
}

li:nth-of-type(3) {
  opacity: 0.2;
  transition: all 0.5s;
}

li:hover {
  opacity: 1;
  transition: all 0.5s;
}

li {
  position: relative;
}

/* Pull right  */
ul a:before, section a:before
{
  position: absolute;
  width: 0px;
  height: 100% ;
  left: -5px;
  bottom: -2px;
  content: '';
  background: rgb(255,61,176);
  background: linear-gradient(90deg, rgba(255,61,176,1) 0%, rgba(255,132,45,1) 100%);
  opacity: 1;
  transition: all 0.5s;
  height: 8px;
  z-index: -10;
}

ul a:hover:before, section a:hover:before
{
  width: calc( 100% + 8px );
}

ul a:after
{
  width: 10px;
  left: 100px;
}

