.nextTitle {
  transform: translateY( calc(280px - 100vh + 88px + 50vh - 85px - 40px + 30px - 88px));
  transition: all .25s;
}
.next {
  font-size: 180px !important;
  transition: all .25s;
  color: white;
}

.imgNextActive {
  width: 800px;
  left: calc(50% - 80px - 400px * 0.8);
  opacity: 1;
  transform: scale(0.8);
  bottom: calc( -1*( 449px - 449px * 0.8) + 100vh - (449px*0.8) - 88px - 60px );
}
