.romeo {
  width: 25%;
  right: 30%;
  margin-top: 400px;
}

.mockupDeezer {
  width: 60%;
  margin-left: -80px;
}

.deezerProject h2 {
  margin-left: 1800px;
  margin-top: 300px;
}

.deezerProject section:nth-of-type(1) {
  height: 120vh;
}
